.HA_VERSION
.cloud/
.spotify-token-cache
hass/configuration/.storage/
.uuid
hass/configuration/deps/
OZW_Log.txt
harmony_wohnzimmer.conf
home-assistant.log
home-assistant_v2.db
html5_push_registrations.conf
known_devices.yaml
pyozw.sqlite
secrets.yaml
*.xml
*.html
*.json
grafana/
ha-dockermon/
influxdb/
letsencrypt/
mqtt/
appdaemon/configuration/logs/
appdaemon/configuration/apps/__pycache__/
shared/
__pycache__/
