MechanicalSoup==0.11.0
Mopidy==2.2.1
Mopidy-GMusic==3.0.0
Mopidy-Iris==3.33.0
Mopidy-Podcast==2.0.3
Mopidy-Scrobbler==1.2.0
Mopidy-Spotify==3.1.0
appdirs==1.4.3
beautifulsoup4==4.7.1
decorator==4.3.0
funcsigs==1.0.2
future==0.17.1
gpsoauth==0.4.1
lxml==4.2.5
mock==2.0.0
mutagen==1.41.1
oauth2client==4.1.3
pbr==5.1.1
proboscis==1.2.6.0
protobuf==3.6.1
pyasn1==0.4.5
pyasn1-modules==0.2.2
pylast==2.4.0
pyspotify==2.0.5
python-dateutil==2.8.0
rsa==4.0
six==1.12.0
uritools==2.2.0
validictory==1.1.2
